* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Impact;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  /* background-color: red; */
}
main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: var(--gray);
}
img,
a,
button {
  cursor: pointer;
}

header,
nav {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
}
