header .top-strip {
  background-color: var(--orange);
  height: 33px;
}

nav.main-nav {
  height: 53px;
  background: var(--white);
  width: 100%;
}

img.logo {
  height: 16px;
}

.top-strip .inner-top-strip a {
  color: var(--white);
  font-size: 9.5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  padding: 10px;
  box-sizing: border-box;
}

.inner-top-strip a:hover {
  color: var(--hover);
  border-bottom: 1px solid var(--hover);
}

ul.inner-top-strip {
  list-style-type: none;
  display: flex;
  height: inherit;
}

ul.inner-top-strip li {
  height: 100%;
  display: flex;
  align-items: center;
}

.wrap-top-strip {
  height: 100%;
}

.inner-main-nav.max-layout {
  height: inherit;
}

.categories {
  display: flex;
  align-items: baseline;
  gap: 10.5px;
}

input.search-bar-input {
  border: none;
  border-bottom: 1px solid var(--lightGray);
  color: var(--lightGray);
  padding: 4px 0px;
}

input.search-bar-input:focus {
  outline: none !important;
}

#hamburger-icon {
  display: none;
  width: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  margin: 9px;
}

#hamburger-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: var(--white);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#hamburger-icon span:nth-child(1) {
  top: 0px;
}

#hamburger-icon span:nth-child(2) {
  top: 5px;
}

#hamburger-icon span:nth-child(3) {
  top: 10px;
}

#hamburger-icon.open span:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#hamburger-icon.open span:nth-child(2) {
  opacity: 0;
  left: -40px;
}

#hamburger-icon.open span:nth-child(3) {
  top: 10px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
