@media (max-width: 901px) {
  .photo-editor-inner-wrapper.flex {
    flex-direction: column;
  }
  .canvas-container {
    width: 417px;
    height: 400px;
    cursor: grab;
  }
}

@media (max-width: 623px) {
  .photo-editor {
    height: 100%;
  }
  .canvas-container {
    width: 417px;
    height: 400px;
    cursor: grab;
  }
  .images-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .images-container img {
    object-fit: cover;
    width: 100%;
    height: 170px;
    transition: all 100ms ease-out;
  }
}
@media (max-width: 500px) {
  #hamburger-icon {
    display: block;
  }

  .categories a {
    background: var(--white);
    padding: 5px 10px;
  }
  nav.main-nav {
    height: 293px;
    background-color: var(--orange);
    display: none;
  }
  .inner-main-nav {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 27px;
  }
  .categories {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 260px;
    justify-content: center;
    gap: 14px;
  }
  .left-top-bar {
    display: flex;
  }
  header,
  nav {
    position: fixed;
  }
  header {
    z-index: 4;
    width: 100%;
  }
}

@media (max-width: 664px) {
  .photo-editor-inner-wrapper {
    flex-direction: column;
    flex-direction: column;
    justify-content: inherit;
    align-items: center;
    gap: 20px;
  }
}

@media (max-width: 480px) {
  .canvas-container {
    max-width: 334px;
    max-height: 320px;

    width: 100%;
    padding: 20px;
  }
}
